
body{
	margin:0;
	font-family: comic sans ms;
}

.search-form{
	margin:100px auto;
	width:500px;
	border:1px solid lavender;
	height: 430px;
	padding-top:30px;
	padding-left:70px;
	padding-right:30px;
	border-radius: 5px;
	font-family: comic sans ms;
}
.heading{
	font-family: comic sans ms;
	height: 60px;
	margin:0px auto;
	text-align: center;
	color:white;
	background-color: skyblue;
}
#roomtype{
	font-family: comic sans ms;
	font-size: 19px;
	width:350px;
	height:40px;
	border-radius: 5px;
	color:black;
	
}
#btn-submit{
	font-family: comic sans ms;
	border-collapse;
	background-color: skyblue;
	font-size: 17px;
	border-radius: 5px;
	height:40;
	width:100px;
	//background-color:transparent;
	color:white;
}